<template>
    <div class="">
        <div class="vbar" v-bar="{preventParentScroll: true,scrollThrottle: 1}">
            <div class=""  v-show="!docSituation">
                <div v-show="thereIsPatient">
                    <transition-group name="slide">
                        <div class="column aligne-middle paddLR20" v-for="(patient , index) in patientsData" :key="index">
                            <div :class="[ patient.done === 0 ? 'onHoverGreenBackGround' : 'greenBackGround'
                                           , ' row cursordef align-middle fSize']" >
                                <div class="column  padd0">
                                    <a role="button" @click="doneIt(patient.id)" class="onHoverOpacity" v-if="patient.done === 0">
                                        <img src="../../../../public/img/check.svg" width="40px" >
                                    </a>
                                </div>
                                <div class="column large-7 text-center" v-text="patient.name" v-show="patient.name"></div>
                                <div class="column large-3 padd0 text-center" v-text="patient.time"></div>
                                <div class="column large-5 text-center" v-text="patient.phone_number" v-show="patient.phone_number"></div>
                                <div class="column  padd0" >
                                    <a role="button" @click="deleteThis(patient.id)" class="onHoverOpacity">
                                        <img src="../../../../public/img/delete.svg" width="40px" alt="" v-show="patient.id" >
                                    </a>
                                </div>
                            </div>
                            <hr class="hrtag">
                        </div>
                    </transition-group>
                </div>
                <transition name="slide">
                    <div v-show="!thereIsPatient">
                        <div class="row">
                            <div class="column">
                                <img src="../../../../public/img/no-patient.svg" width="350px">
                            </div>
                        </div>
                        <p>بیماری ثبت نشده خوشبختانه :)</p>
                    </div>
                </transition>
            </div>
            <transition name="slide">
                <div v-show="docSituation">
                    <div class="row">
                        <div class="column">
                            <img src="../../../../public/img/danger.svg" width="350px">
                        </div>
                    </div>
                    <p>متخصص حضور ندارد ...</p>
                </div>
            </transition>

        </div>



    </div>
</template>
<script>
      import {mapGetters} from 'vuex';
      import {mapActions} from 'vuex';
      import {eventBus} from '../app';


      export default {
            data(){
                  return {
                        name: null,
                        number: null,
                        thereIsPatient: true,
                        docSituation: false
                  }
            },
            watch:{
            }
            ,
            computed:{
                  ...mapGetters([
                        'patientsData',
                        'formData'
                  ]),

            },
            methods: {
                  ...mapActions([
                        'setActiveIDs',
                        'getPatients'
                  ]),
                  deleteThis(id){
                        let url = '/patient/' + id
                        // console.log(url)
                        axios.post(url).then(this.getPatients() )
                  } ,
                  doneIt(id){
                        let DoneUrl = '/patient/done/'+id
                        axios.get(DoneUrl).then(this.getPatients())
                  }

            },
            created(){
                  eventBus.$on('thereIsNoPatientYet', ()=>{
                        this.thereIsPatient = false
                  })
                  eventBus.$on('thereIsPatient', ()=>{
                        this.thereIsPatient = true
                  })
                  eventBus.$on('doctorIsOn', ()=>{
                        this.docSituation = false
                  })
                  eventBus.$on('doctorIsOff', ()=>{
                        this.docSituation = true
                  })
            },
      }

</script>
<style scoped>
    .onHoverOpacity{
        opacity: 0.4;
    }
    .onHoverOpacity:hover{
        opacity: 1;
    }

    .paddLR20{
        padding-right: 20px;
        padding-left: 20px;
    }
    .cursordef{
        cursor: default;
    }
    .onHoverGreenBackGround:hover{
        /*background-image: linear-gradient(180deg, #f5f7fa 66%, #b2d6e2 152%);*/
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(70, 243, 25, 0.35), rgba(0, 0, 0, 0));
    }
    .greenBackGround{
        border-radius: 30px;
        font-weight: 100;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(8, 255, 118, 0.35), rgba(0, 0, 0, 0));
    }
    .vbar{
        height: 460px;
        width: 100%;
    }
    .padd0{
        padding: 0px;
    }
    .fSize{
        font-size: 19px;
    }
    .hrtag{
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0));
        margin: 5px 0px 5px 0px;
    }

    .slide-enter{
        opacity: 0 ;
    }
    .slide-enter-active{
        animation: slide-in 1s ease-out forwards;
        transition: opacity .5s;
    }
    .slide-leave-active{
        animation: slide-out 1s ease-out forwards;
        transition: opacity 1s;
        opacity: 0;
    }
    .slide-move{
        transition: transform 1s;
    }
    @keyframes slide-in{
        from{
            transform: translateY(20px)
        }
        to{
            transform: translateY(0px)
        }
    }
    @keyframes slide-out{
        from{
            transform: translateY(0px)
        }
        to{
            transform: translateY(20px)
        }
    }
</style>