<template>
      <div class="row large-20 align-center">

            <specialist v-for="doctor in DoctorsPerDayData" :key="doctor.id">

                        <template slot="speciality">
                              <a role="button" class=" button specialist" @click="clicked(doctor)">
                                    <strong>
                                                {{doctor.speciality}}
                                    </strong>
                              </a>
                        </template>
                        <template slot="doctor">{{ doctor.name }}</template>

            </specialist>

            <sweet-modal ref="modal" overlay-theme="dark" width="70%" >

                        <modalData></modalData>

            </sweet-modal>

            <sweet-modal ref="error" overlay-theme="dark" width="30%" icon="error">
                        <div v-if="errors">
                              <ul><li v-for="error in errors" :key="error"><p>{{ error }}</p></li></ul>
                        </div>
            </sweet-modal>
            <sweet-modal ref="sent" overlay-theme="dark" width="30%" icon="success">
                        اضافه شد
            </sweet-modal>

      </div>
</template>

<script>

      import specialist from './specialist.vue';
      import { SweetModal } from 'sweet-modal-vue';
      import modalData from './modalData.vue';
      import {mapActions} from 'vuex';
      import {mapGetters} from 'vuex';
      import {eventBus} from "../app";

      export default {
            data(){
            return {
                  errors: [],
            }
            },
            computed: {
                  ...mapGetters([
                        'DoctorsPerDayData',
                        'formData'
                  ]),
            },
            methods:{
                  ...mapActions([
                        'InitDoctorsPerDay',
                        'InitSpecialitys',
                        'clickedOnDoctor',
                        'getDoctorsOptions',
                        'getPatients',
                        'addPatient'

                  ]),
                  clicked : function (doctor) {
                        this.clickedOnDoctor(doctor)
                        this.getPatients();
                        this.$refs.modal.open()
                  }
            },
            async mounted() {
                  this.InitDoctorsPerDay();
            },
            created(){
                  eventBus.$on('getDoctorsOptions', () => {
                        this.getDoctorsOptions()
                  })
                  eventBus.$on('openModal', () => {
                        this.InitSpecialitys()
                        this.$refs.modal.open()
                  })
                  eventBus.$on('validate' , ()=>{
                        let vNumber = false;
                        let vName = false;
                        let vTime = false;
                        this.errors = [];

                        if (this.formData.name){
                              if (this.formData.name.length < 5) {
                                    this.errors.push('نام و نام خانوادگی کمتر از 5 حرف است ');
                              }else{
                                    vName = true
                              }
                        }else{
                              this.errors.push('نام و نام خانوادگی کمتر از 5 حرف است ');
                        }
                        if (this.formData.phone_number){
                              if (this.formData.phone_number.length < 7) {
                                    this.errors.push('شماره تلفن معتبر حداقل 7 رقم است ');
                              }else {
                                    vNumber = true
                              }
                        }else{
                              this.errors.push('شماره تلفن معتبر حداقل 7 رقم است ');
                        }
                        if(this.formData.time){
                              if (this.formData.time.time){
                                    vTime = true
                              }else{
                                    this.errors.push('زمان ویزیت مشخص نشده');
                              }
                        }else{
                              this.errors.push('زمان ویزیت مشخص نشده');
                        }
                        if(vNumber && vName && vTime){
                              this.addPatient()
                              this.$refs.sent.open()
                              eventBus.$emit('showingFrom')
                        }else{
                              this.$refs.error.open()
                        }
                  })
            },
            components:{
                  SweetModal,
                  specialist,
                  modalData
            },
      }
</script>

<style>

</style>
