<template>
    <div class="row align-center-middle">
        <div class="column large-7 align-center" style="margin: 12px 0px 25px 0px" v-if="!showForm">
            <div class="row ">
                <div class="column large-20 mgb16">
                    <date-picker v-model="formData.date"
                                format="YYYY-MM-DD"
                                display-format="dddd  jDD  jMMMM  jYYYY"
                                :auto-submit="true"
                                @close="getPatients()">
                    </date-picker>
                </div>
            </div>
            <div class="row ">
                <div class="column large-20 mgb16">
                    <multiselect v-model="formData.spaciality" deselect-label=""
                                track-by="speciality_id" label="speciality"
                                placeholder="تخصص" selectLabel=""
                                :options="allSpecialitys" @input="getDoctorsOptions()"
                                :allow-empty="false" :searchable="false" >
                        <template slot="singleLabel" slot-scope="{ option }">
                            <strong>{{ option.speciality }}</strong>
                        </template>
                    </multiselect>
                </div>
            </div>
            <div class="row ">
                <div class="column large-20 mgb16" >
                    <multiselect v-model="formData.doctor" deselect-label=""
                                track-by="id" label="name" placeholder="دکتر متخصص"
                                selectLabel="" @input="getPatients()"
                                :options="Doctors" :searchable="false"
                                :allow-empty="false">
                        <template slot="singleLabel" slot-scope="{ option }">
                            <strong>{{ option.name }}</strong>
                        </template>
                    </multiselect>
                </div>
            </div>
            <div class="row" >
                <div class="column" v-if="docSituation">
                    <a role="button" @click="showingForm()" >
                        <img src="../../../../public/img/add.svg" width="45px" >
                    </a>
                </div>
            </div>
        </div>
        <transition name="mahdi">
            <div class="column large-7 align-center" style="margin: 12px 0px 25px 0px" v-if="showForm">
                <div class="row ">
                    <div class="column large-20 mgb16">
                        <date-picker v-model="formData.date"
                                    format="YYYY-MM-DD"
                                    display-format="dddd  jDD  jMMMM  jYYYY"
                                    :auto-submit="true"
                                    @close="getPatients()">
                        </date-picker>
                    </div>
                </div>
                <div class="row ">
                    <div class="column large-20 mgb16">
                        <multiselect v-model="formData.spaciality" deselect-label=""
                                    track-by="speciality_id" label="speciality"
                                    placeholder="تخصص" selectLabel=""
                                    :options="allSpecialitys" @input="getDoctorsOptions()"
                                    :allow-empty="false" :searchable="false">
                            <template slot="singleLabel" slot-scope="{ option }">
                                <strong>{{ option.speciality }}</strong>
                            </template>
                        </multiselect>
                    </div>
                </div>
                <div class="row ">
                    <div class="column large-20 mgb16" >
                        <multiselect v-model="formData.doctor" deselect-label=""
                                    track-by="id" label="name" placeholder="دکتر متخصص"
                                    selectLabel="" @input="getPatients()"
                                    :options="Doctors" :searchable="false"
                                    :allow-empty="false">
                            <template slot="singleLabel" slot-scope="{ option }">
                                <strong>{{ option.name }}</strong>
                            </template>
                        </multiselect>
                    </div>
                </div>
                <div class="row ">
                    <div class="column large-20 mgb16" >
                        <multiselect v-model="formData.time" deselect-label=""
                                    track-by="time" label="time" placeholder="  زمان ویزیت "
                                    selectLabel="" @input="getPatients()"
                                    :options="docFreeTimes" :searchable="false"
                                    :allow-empty="false">
                            <template slot="singleLabel" slot-scope="{ option }">
                                <strong>{{ option.time }}</strong>
                            </template>
                        </multiselect>
                    </div>
                </div>
                <div class="row " >
                    <div class="column large-20 " >
                        <input type="text" placeholder=" نام و نام خانوادگی" v-model="modelName" @keyup.enter="clickEnter">
                    </div>
                </div>
                <div class="row " >
                    <div class="column large-20 " >
                        <input type="number" placeholder=" شماره تلفن " v-model="modelNumber" @keyup.enter="clickEnter">
                    </div>
                </div>
                <div class="row ">
                    <div class="column large-20 " >
                        <a role="button" @click="validation()">
                            <img src="../../../../public/img/check.svg" width="45px">
                        </a>
                    </div>
                </div>
            </div>
        </transition>
        <div class="column align-center">
            <list-patients></list-patients>
        </div>
    </div>
</template>

<script>
    import ListPatients from './ListPatients';
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    import {eventBus} from "../app";
    import Multiselect from 'vue-multiselect'
    import VuePersianDatetimePicker from 'vue-persian-datetime-picker';

    export default {
            data(){
                return {
                        SpecialitysData:null,
                        showForm: false,
                        docSituation: false
                }
            },
            methods:{
                ...mapActions([
                        'InitSpecialitys',
                        'getPatients',
                        'getDoctorsOptions',
                        'setFormNumber',
                        'setFormName',
                ]),
                showingForm(){
                        this.showForm = ! this.showForm
                },
                clickEnter(){
                        this.validation();
                },
                validation(){
                        eventBus.$emit('validate')
                },
            },
            created() {
                eventBus.$on('showingFrom',()=>{
                        this.showingForm()
                })
                eventBus.$on('doctorIsOff',()=>{
                        this.docSituation = false
                        this.showForm = false
                })
                eventBus.$on('doctorIsOn',()=>{
                        this.docSituation = true
                })
            },
            computed: {
                ...mapGetters([
                        'formData',
                        'Doctors',
                        'allSpecialitys',
                        'patientsData',
                        'docFreeTimes',
                ]),
                modelName: {
                        get(){
                            return this.formData.name
                        },
                        set(val){
                            this.setFormName(val)
                        }
                },
                modelNumber: {
                        get(){
                            return this.formData.phone_number
                        },
                        set(val){
                            this.setFormNumber(val)
                        }
                },
            },
            mounted() {
                this.InitSpecialitys();
            },
            components:{
                Multiselect,
                'date-picker' : VuePersianDatetimePicker,
                ListPatients
            },
    }
</script>

<style>
    .mahdi-enter{
        opacity: 0;
    }
    .mahdi-enter-active{
        transition: opacity 1s;
    }
    .mahdi-leave{}
    .mahdi-leave-active{
        transiton: opacity 1s;
        opacity: 0;
    }

    .mgb16{
        margin-bottom: 16px;
    }
</style>
