<template>
    <div class="column large-4 text-center">
        <div class="row large-20">
            <div class="column">

                <slot name="speciality"></slot>

            </div>
        </div>
        <div class="row large-20">
            <div class="column">
                <button class="hollow button pointernone marginb20" >

                    <slot name="doctor"></slot>

                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {

        }
    }
</script>

<style>
    .marginb20{
        margin-bottom: 20px;
    }
</style>
