// Foundation
@import '~bootstrap/dist/css/bootstrap.css';
@font-face {
  font-family: 'Glyphicons Halflings';
  src:  url('../../../node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff');
  src:  url('../../../node_modules/bootstrap/fonts/glyphicons-halflings-regular.svg');
  src:  url('../../../node_modules/bootstrap/fonts/glyphicons-halflings-regular.ttf');
  src:  url('../../../node_modules/bootstrap/fonts/glyphicons-halflings-regular.eot');
}


// Fonts
@font-face {
  font-family: yekan;
  src: url('../fonts/web_yekan.woff');
}
body{
  font-family: yekan;
  font-weight: 600;
}
.mgb22{
 margin-bottom: 22px;
}
