// Foundation
@import './foundation.css';

//vue-multiselect
@import '~vue-multiselect/dist/vue-multiselect.min.css';
// Fonts
@font-face {
  font-family: yekan;
  src: url('../fonts/web_yekan.woff');
}
body{
  font-family: yekan;
  overflow: hidden;
  font-weight: 700;
}
[type='text'], [type='password'],
[type='date'], [type='datetime'],
[type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'],
[type='search'], [type='tel'], [type='time'],
[type='url'], [type='color'], textarea {
  color : #35495e !important;
  font-weight: 700;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
  background-color: #e1dcdc80;
}
li{
  list-style: none;
}
::placeholder {
  color: #487485 !important;
  opacity: 0.7;
}
.button{
  background-color: #2ba6cbd4;
}
.button.hollow, .button.hollow:hover, .button.hollow:focus {
  background-color: #ffffffcc;
}
.button.hollow {
  border: 2px solid #2ba6cb;
  color: #026f90;
}

.listSpecialist{
  margin-bottom: -30vh;
  height: 600px;
  width: 101vw;
}

#app{
  width: 100vw;
  height: 100vh;
}

.slickcss{
  width: 100vw;
  height: 100vh;
}

.bgr{
  background-color: red;
  opacity: 0.4;
}

#login{
  position: absolute;
  top: 130px;
  right: 400px;
}


.specialist{
  margin-bottom: 10px;
  font-size: 1em;
}

.pointernone{
  pointer-events: none;

}

.login{
  text-align: center;
  border-radius: 16px;
}


//Oprator page Oprator page Oprator page Oprator page Oprator page
.upOnit{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
}
.logoutB{
  position: absolute;
  top: 85vh;
  left: 3vw;
}
.rightBs{
  position: absolute;
  top: 85vh;
  right: 3vw;
  z-index: 5;
}
#opratorPage{
  display: flex;
  justify-content: center;
  align-content: center;
}

/* CLOCK *************************************************************************** */
#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-shadow: 1px 5px 20px #000000, 0px 13px 20px rgba(0, 0, 0, 0.23);
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 62px;
  padding: 5px 0;
  margin-bottom: 0px;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
#clock .text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}
/* END CLOCK *********************************************************************** */
// SCROLL BARRRRR
.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  background-color: rgba(48, 121, 244,.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
}

// END SCROLLBARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR

.sweet-modal-overlay.theme-dark {
  background: rgba(24, 32, 40, 0.58) !important;
}
.sweet-modal.is-alert .sweet-content {
  //padding-top: 34px !important;
  padding-bottom: 34px !important;
}
.sweet-modal .sweet-content{
  line-height: 19px !important;
}
.sweet-modal{
  border-radius: 15px !important;
}

//persian date picker

.p-datetime-picker-input-group {
  display: table;
  width: 100%;
  border: 1px solid #bdbdbd;
  height: 20px;
}
.form-control{
  margin-bottom: 0px;
  text-align: center;
}

